body::before {
  display: block;
  content: '';
  height: 60px;
}

body {
  background: url('./trivia.png') no-repeat center fixed;
  background-size: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
}



@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}